[client]
port = 3306
socket = /var/lib/mysql/mysql.sock

[mysql]
no-auto-rehash

[mysqld]
datadir = /var/lib/mysql
port = 3306
socket = /var/lib/mysql/mysql.sock
character-set-server=utf8

##skip
skip-external-locking
skip-name-resolve
skip-character-set-client-handshake

##connections
max_connections = 100
max_connect_errors = 200
max_allowed_packet = 16M                #max size of incoming data to allow

##isolation
transaction-isolation = READ-COMMITTED

# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
symbolic-links = 0

## total per-thread buffer memory usage: (thread_stack+sort_buffer_size+read_buffer_size+read_rnd_buffer_size+join_buffer_size+binlog_cache_size)*max_connections
thread_stack = 256K                     #default: 32bit: 192K, 64bit: 256K
sort_buffer_size = 2M                   #default: 2M, larger may cause perf issues
read_buffer_size = 1M                   #default: 128K, change in increments of 4K
read_rnd_buffer_size = 1M               #default: 256K
join_buffer_size = 1M                   #default: 128K
binlog_cache_size = 64K                 #default: 32K, size of buffer to hold TX queries

## total Global Buffer memory usage: (innodb_buffer_pool_size + innodb_additional_mem_pool_size + innodb_log_buffer_size + key_buffer_size + query_cache_size)
innodb_buffer_pool_size = 2G           #The best value for innodb buffer pool size is considered to be 60 to 80 percent of ram
innodb_additional_mem_pool_size = 20M
innodb_log_buffer_size = 128M
key_buffer_size = 512M
query_cache_limit = 8M
query_cache_size = 64M
query_cache_type = 1

##total mysql memory usage=total per-thread buffer memory usage + total Global Buffer memory usag 

myisam_sort_buffer_size = 128M          #index buffer size for creating/altering indexes
thread_cache_size = 64                 #recommend 5% of max_connections
query_cache_limit = 512K                #max query result size to put in cache
table_open_cache = 512                  #5.5.x <default: 64>

#log_bin should be on a disk with enough free space. Replace '/var/lib/mysql/mysql_binary_log' with an appropriate path for your system.
log_bin=/var/lib/mysql/binlog
relay-log=relay-binlog
log_slave_updates
replicate-ignore-db=mysql
expire_logs_days = 14
max_binlog_size = 100M
slow_query_log
long_query_time = 1
binlog_format = mixed

replicate-wild-do-table=*.%

server-id = 1

##buffer size
read_buffer_size = 2M
read_rnd_buffer_size = 16M
sort_buffer_size = 8M
join_buffer_size = 8M

##InnoDB settings
innodb_strict_mode
innodb_data_file_path = ibdata1:8G;ibdata2:16G:autoextend
innodb_file_format = Barracuda
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit  = 2
innodb_thread_concurrency = 4
innodb_flush_method = O_DIRECT
innodb_log_file_size = 512M

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
open-files-limit = 8192

[mysqldump]
quick
max_allowed_packet = 16M
